/* Microinteractions - Alpha Description & Build Stylesheet*/
/* Written by Roger Korpics */
/* 11 October 2021 */

/* Custom Fonts */

@font-face {
    font-family: 'Renogare';
    src: url('fonts/Renogare-Regular.woff2') format('woff2'),
        url('fonts/Renogare-Regular.woff') format('woff'),
        url('fonts/Renogare-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff'),
         url('fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url('fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/roboto-lightitalic-webfont.woff') format('woff'),
         url('fonts/roboto-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff'),
         url('fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_italic';
    src: url('fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/roboto-bolditalic-webfont.woff') format('woff'),
         url('fonts/roboto-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* General rules */


body{
    background-color:lightblue;
    font-family: robotobold;
    font-weight: 500;
    line-height: 1.5em;
}

div{
    border-radius: .5em;
    box-shadow: 10px 10px 10px -5px rgba(65, 105, 225, 0.637);
    margin: 1em;
    padding: 1.5em;
}

footer{
    text-align: center;
}

h1{
    font-family: Renogare;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: rgb(219, 50, 8);
    font-family: renogare;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    margin-top: 0;
    text-transform: uppercase;
}

img{
    max-width: 100%;
}

main{
    margin: auto;
    max-width: 1024px;
}

/* Grid template rules */

@media screen and (min-width: 720px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,50%);
        max-width: 1024px;
    }
}

.grid{
    box-shadow: none;
    margin: 0;
    padding: 0;
}

/* Specific div rules */

#examples{
    background-color: white;
    max-width: 960px;
}

#feedback{
    background-color: white;
}

#loops-and-modes{
    background-color: white; 
}

#rules{
    background-color: white; 
}

#triggers{
    background-color: white; 
}

#url{
    background-color: white;
    max-width: 960px;
}

/* Alpha Build Rules */

#build{ /* Rules for the DIV container of the interaction*/
    background-color: white;
    max-width: 960px;
    padding: 4em;
    text-align: center;
}

#generate-biome{ /* Rules for the button itself */
    padding: 1em;
    margin: 1em;
    font-family: robotobold;
    font-size: 1.5em;
    border-radius: 3em;
    border: .25em solid red;
    color: red;
}

#generate-biome:hover{
    cursor: pointer;
}

.buttonAnimation{
    animation-name: active;
    animation-duration: .4s;
}


@keyframes active{
    0%, 100% {
        margin: 1em;
        padding: 1em;
        background-color: white;
        color: red;
    }

    25% {
        margin: 1.5em;
        padding: .50em;
        background-color: red;
        color: white;
    }

    50% {
        margin: .5em;
        padding: 1.5em;
        background-color: red;
        color: white;
    }
}